<h1>Cocktail details</h1>

<h2><%= @cocktail.name %></h2>
  <div class="card">
    <h3>Ingredients</h3>
    <% @cocktail.doses.each do |dose| %>
      <p><%= "#{dose.description} #{dose.ingredient.name}"%> <%= link_to "(Delete)", dose_path(dose), method: 'DELETE'%></p>
    <% end %>
  </div>
<br>
<button><%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %></button>
<br>
<button><%= link_to "Back to Cocktails list", cocktails_path %></button>
