<div class="container ml-6 mt-3">

  <h1 class="text-white text-center"><%= @cocktail.name %></h1>
  <div class="d-flex justify-content-center">
    <%= cl_image_tag @cocktail.photo.key, width:400 , height: 300,  crop: :lfill %>
    <div class="card">
        <h5 class="card-header">Ingredients</h5>
        <div class="card-body">
      <% @cocktail.doses.each do |dose| %>
        <p class="card-text d-flex-inline"><%= "#{dose.description} #{dose.ingredient.name}" %>
        <span class="badge badge-pill"><%= link_to 'delete', dose_path(dose), method: 'DELETE'%></span></p>
      <% end %>
        </div>
      <button class="m-6"><%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %></button>
    </div>
  </div>
</div>
